@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
    font-style: italic;
    margin-bottom: 10px;
}
h2{
    font-size: 30px;
    line-height: 54px;
    color:#222;
    font-style:italic;
}
h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight:700;
    font-size: 12px;
    color: #1a1a1a;
}
p{
    font-size: 16px;
    color:#465b52;
    margin:15px 0, 20px 0;
    font-weight: 600;
    font-style: oblique;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0px;
}
body{
    width: 100%;
}


/* header start */
#header {
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 50px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
    position: sticky;
}
.logo{
    max-width: 100%;
    padding-left: 0%;
    height: auto;
    width: 70px;
    min-width: 30px;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
 list-style: none;
 padding: 0 20px;
 position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600 ;
    color: #1a1a1a;
    transition:0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
        color: #088178;
    }

#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width:30%;
    height:2px;
    background: #088178;
    position:absolute;
   bottom: -4px;
   left:20px;
}

/*Description*/
#description{
    background-image: url('back.jpg');
    height: 90vh;
    width: 100%;
    color: #e3e6f3;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    
    

}
#description button{
    
    background-image: url('button_background.png');
    background-color: transparent;
    border: 0;
    background-size: cover;
    color:#000000;
    margin-top: 3%;
    display: flex;
    align-items: flex-start;
    padding:  3%;
    font-weight: 600;
    font-style: italic;
   
}


#products{
    text-align: center;
}
#products .pro1{
    width: 23%;
    min-width: 250px;
    padding:10px 12px;
    border:1px solid #e3e6f3;
    cursor: pointer;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    

}

#products .pro1 :hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.05);
}
#products .pro1 img{
    width: 100%;
    border-radius: 20px;
}
#products .products_container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}